:root{
    --principal-color:#b9bbbe;
    --bk-color:#36393f;
    --links:#00aff4;
}
.container{
    min-width: 55vw; /*Quem causa problema com zoom*/

    background-color:var(--bk-color);
    display: flex;
    padding: 30px;
    border-radius: 7px;
    color: white;
}
img{
    width:176px;
    height:176px;
    border-radius: 8px;
    margin: 30px 10px 30px 10px;
}
a{
    color: var(--links);
    text-decoration: none;
}
a:hover{
    text-decoration:underline ;
}
.left{
    width: 100%;
    margin-right: 75px;
}

.left .form{
    display: flex;
    flex-direction: column;
}
.cadast{
    font-size: 0.9em;
    color: var(--principal-color);
}
.containerAll{
    height:100vh;
    width: 100vw;
    background-image:url('../../assets/img/Background.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width:830px){
    .left{
        text-align:center;
        margin:auto;
    }
}
@media screen and (max-width:485px) {
    .left{
        width: 100vw;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y:scroll;
    }
    ::-webkit-scrollbar{
        width:3px;
    }
    ::-webkit-scrollbar-thumb{
        background:#ccc;
    }
    ::-webkit-scrollbar-track{
        background:#000;
    }
}