:root{
    --principal-color:#b9bbbe;
    --bk-color:#36393f;
    --links:#00aff4;
}
header{
    text-align: center;
}
header h2{
    margin-bottom: 5px ;
}

header p{
    margin-bottom: 15px;
    color :var(--principal-color);
    font-size: 1em;
}