.form label{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
    color:var(--principal-color);
}
.form input{
    height: 6vh;
    min-height: 4vh;
    border-radius: 5px;
    background-color: #222;
    outline: none;
    border: 1px solid rgb(34, 33, 33);
    color: white;
    font-size: 1em;
    padding: 0 10px;
    margin-bottom: 3px;
}
input:focus{
    border: 1px solid var(--links);
}

.form span{
    letter-spacing: -.2px;
    margin-bottom: 20px;
    font-size: 0.9em;
}
input[type="submit"]{
    width:100%;
    height: 5vh;
    border-radius: 5px;
    min-height: 5vh;
    background-color: #4752c4; 
    color: white;
    font-size: 1em;
    text-align: center;  
    font-family:cursive; 
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
}
input[type="submit"]:hover{
    transition: 0.5s;
    background-color: #2b408b;
}
a{
    padding: 5px;
}
